.icons{
    display: flex;
    gap: 20px;
}


.insta-header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: black;
 color: white;
 padding: 10px;
}
img{
    border-radius: 50%;
}
.carousel-images{
    display: flex;
    height: 250px;
    background-color: black;
    justify-content: space-evenly;
}

.lowerheader{
display: flex;
justify-content: flex-start;
align-items: center;
color: white;
height: 100px;
}

.big picture{
display: flex;
}
.cpshancock{
display: flex;
width: 220px;
height: 150px;
}
.footer-icons{
    color: white;
    display: flex;
    justify-content: space-evenly;
}

body{
    background-color: black;
}
